.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
  padding: 0 60px;
  flex: 0 0 auto;
}
.icon {
  width: 32px;
  height: 32px;
  padding-right: 15px;
}
.logo {
  max-width: 70px;
}
.icons {
  display: flex;
  flex-direction: row;
}
