.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url("./fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
    url("./fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
    url("./fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "soulmazeRegular";
  src: local("soulmazeRegular"),
    url("./fonts/soulmaze/soulmaze-regular.woff") format("woff");
  font-weight: regular;
}

.font-face-rbt-reg {
  font-family: RobotoRegular;
  font-weight: regular;
}
.font-face-rbt-bol {
  font-family: RobotoBold;
  font-weight: bold;
}
.font-face-rbt-med {
  font-family: RobotoMedium;
  font-weight: medium;
}
.font-face-soul-reg {
  font-family: RobotoMedium;
  font-weight: medium;
}
